<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10 Random Quotes</title>
    <link rel="stylesheet" href="Style/style.css">
</head>
<body class = "body">
    <div class="container">
        <h1 class="headingMain">
         Here are the 10 Programmers Quotes for you!
        </h1> 
     </div>
     <% Quotes10Results.forEach((Pquote)=> { %>
     <div class="response-area">  
        <p><%=Pquote.quote%> <br/> <small>Author: <%=Pquote.author%> </small> </p> 
      </div>
      <% }) %>
     <div class="form">
        <a href="./index.ejs"><button style="margin-top: 20px; height: 50px; width: 100px;">Go back</button> </a>
     </div>
</body>
</html>